= form_with(model: [stream, track], local: true) do |form|
  - if track.errors.any?
    #error_explanation.notification.is-danger
      %button.delete
      %h3.title.is-3
        = pluralize(track.errors.count, "error")
        prohibited this track from being saved:
      %ul
        - track.errors.full_messages.each do |message|
          %li.is-4
            = message
  .field
    = form.label :soundcloud_url, class: 'label'
    = form.text_field :soundcloud_url, class: 'input'
    = form.hidden_field :stream_id
    = form.hidden_field :viewer_id
  .actions
    = form.submit 'Save', class: 'button is-success'
