.card.stream
  .card-content.stream-card-content
    .media
      .media-content
        .level
          .level-left
            = link_to stream do
              %p.title.acid-green
                = stream.title
          .level-right
            %span.tag.is-link
              %time{:datetime => stream.aired_at}= stream.aired_at.strftime('%d/%M/%Y-%r')
            &nbsp;
            - if stream.receiving_tracks?
              %span.tag.is-danger
                Live &nbsp; 
                %i.fas.fa-microphone
            - else
              %i.fas.fa-bed.has-text-white
    %hr/
    .content
      %h4.is-4.has-text-white Samples
      %article.panel.is-link.samples-panel
        = render stream.samples
      - if current_admin
        .level
          .level-left
            = link_to edit_stream_path(stream), class: 'mr-1' do
              %span.tag.is-light
                Edit
            = link_to stream, method: :delete, data: { confirm: 'Are you sure?' } do
              %span.tag.is-danger
                Delete
          .level-right
%br/