.stream-card{id: dom_id(stream)}
  = link_to stream do
    = image_tag("default_stream_image.jpg", class: 'stream-image')
    .stream-date
      = stream.aired_at.strftime('%d/%m - %H:%M')
    .stream-title
      = stream.title
    .stream-tracks
      = button_to stream_path(stream), { method: 'get', class: 'btn stream-track-button' } do 
        Ir a Stream
        %i.fa.fa-solid.fa-caret-right.pl-2
        
        
        
