%p#notice= notice
%h1.title.is-1 Streams
- @streams.each do |stream|
  .card
    .card-content
      .media
        .media-content
          %p.title= stream.title
      .content
        = link_to 'Edit', edit_stream_path(stream)
        |
        = link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' }
        |
        = link_to 'Show', stream
        |
        - if stream.receiving_tracks?
          %i.fa.fa-circle.has-text-danger
        - else
          %i.fas.fa-bed
        %br/
        %time{:datetime => stream.aired_at}= stream.aired_at.strftime('%d/%M/%Y-%r')  
%br/
= link_to 'New Stream', new_stream_path
