.column.is-6-desktop.is-offset-3-desktop
  = render 'shared/top_m_beats'
  .columns.stream-information
    .column.is-4
      = image_tag("default_stream_image.jpg", class: 'stream-image')
    .column.is-4
      .stream-date
        = @stream.aired_at.strftime('%d/%m - %H:%M')
      .stream-title
        = @stream.title
      .stream-description
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .column.is-4.is-flex.is-flex-direction-column.is-justify-content-space-between
      .is-flex.is-justify-content-right
        - if @stream.receiving_tracks
          .aired-label
            %i.fa.fa-circle
            EN VIVO
      - if current_admin
        .is-flex.is-justify-content-end
          = button_to edit_stream_path(@stream), { method: 'get', class: 'btn edit-button' } do 
            Editar
          = button_to stream_path(@stream), { method: 'delete', class: 'btn delete-button', data: { confirm: 'Are you sure?' } } do 
            Eliminar
  %br
  .columns
    .column.is-three-fifths
      - if policy(@new_stream_track).new?
        = link_to new_stream_track_path(@stream), class: 'button' do
          %strong
            Submit track &nbsp;
          %i.fab.fa-soundcloud.fa-2x.soundcloud-orange
      .content.is-small
        %p.has-text-light
          Warning, valume may be too high
          %i.fa.fa-volume-up
  .tracks
    = render @tracks
  %br/
  .tracks-pagination
    = pagy_bulma_nav(@pagy).html_safe

