%nav.navbar.is-black{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "https://www.twitch.tv/foreroplays"}
      %img{:height => "38", :src => "https://static-cdn.jtvnw.net/jtv_user_pictures/fc675b30-68ce-4ce5-8191-283a07a5be5c-profile_image-70x70.png", :width => "28"}/
    %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      = link_to root_path, class: 'navbar-item' do
        %strong.acid-green
          Inicio
      = link_to streams_path, class: 'navbar-item' do
        %strong.acid-green
          Streams
    .navbar-end
      .navbar-item
        - if viewer_signed_in?
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link
              = current_viewer.twitch_display_name
            .navbar-dropdown
              = link_to destroy_viewer_session_path, method: :delete, class: 'navbar-item' do
                Sign out
        - elsif !current_admin
          .buttons
            %a.button.is-light{href: twitch_login_url}
              %i.fab.fa-twitch.is-dark.fa-lg
              &nbsp; Log in
        - if admin_signed_in?
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link.has-text-light
              %i.fas.fa-user-shield
              &nbsp; Admin
            .navbar-dropdown
              = link_to 'New stream', new_stream_path, class: 'navbar-item has-text-light'
              = link_to destroy_admin_session_path, method: :delete, class: 'navbar-item has-text-light' do
                Sign out
                